

.pic{
    /* margin: 20px; */
    padding: 20px;
    max-width: 100%;
    height: 250px;
    border-radius: 100%;
    margin: 70px 0 0 250px;
    aspect-ratio: 1/0.99;
    background: fixed;
    background: rgb(249, 250, 250);
    /* border: rgba(0, 0, 0, 0.25); */
    /* border: 1px solid rgb(7, 139, 192); */
    
}

.home-text{
    font-weight: 300;
    max-width: 900px;
    margin: auto;
    font-size: 24px;
}

.socials{
    /* position: absolute; */
    float: right;
    width: 50%;
    margin: 150px 150px 0 0;
    background: rgb(241, 245, 246);
    padding: 10px 20px;
}